<div class="ecran">
  <div class="App">
    <header class="App-header">
      <script type="text/javascript" src="menu.ts"></script>
      <script type="text/javascript" src="win.ts"></script>
      <script type="text/javascript" src="game.ts"></script>
      <ion-phaser [game]="game" [initialize]="initialize"></ion-phaser>
        <div *ngIf="game != null">
          <button (click)="initializeGame()" class="bottom-button"> Jouer </button>
        </div>
    </header>
  </div>
</div>

<router-outlet></router-outlet>
