<div fxLayout="row" fxLayoutAlign="space-around center">
<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar><img mat-card-image [src]="imageIcon" alt="Photo de pacman"></div>
    <mat-card-title>Pacman</mat-card-title>
    <mat-card-subtitle>Le jeu !</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="image" alt="Photo de pacman">
  <mat-card-content>
    <p>
      Pac-Man (à l'origine Puckman1) est un jeu vidéo créé par Tōru Iwatani pour l’entreprise japonaise Namco, sorti au Japon le 22 mai 19802. Le jeu consiste à déplacer Pac-Man, un personnage qui, vu de profil, ressemble à un diagramme circulaire à l’intérieur d’un labyrinthe, afin de lui faire manger toutes les pac-gommes qui s’y trouvent en évitant d’être touché par des fantômes.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
